/*Layer */
.LayerToggle{
  margin-left: 70px;
  width: 200px;
  height:70%;
  position: fixed;
  padding-left: 5px;
  font-weight: 400;
  font-family: helvetica;
  
}

.LayerToggle .Layer{
  font-size: 25px;
  font-weight:900;
  margin-left:10px;
  margin-top: 10px;
  filter:drop-shadow(0.7px 0.7px 1px gray);
}


.LayerToggle details{
  cursor: pointer;
  color:#4E5058;
}

.LayerToggle details summary::marker{
  display:none;
  content:"  ▷ " ;
}

.LayerToggle details[open] summary::marker{
  display:none;
  content:"  △ " ;
}

.LayerToggle details summary::marker{
  display: none;
  content:"  ▽ ";
}

.LayerToggle ul{
  font-weight: 500;
  list-style: none;
}

.ConvToggle li div{
  border-radius: 6px;
  background-color: #E5E4CC;
  width: 100px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  margin-top: 7px;
  filter:drop-shadow(2px 2px 2px  #555555)
}

.PoolToggle li div{
  border-radius: 6px;
  background-color: #F2E3DC;
  width: 100px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  margin-top: 7px;
  filter:drop-shadow(2px 2px 2px  #555555)
}

.InOutToggle li div{
  border-radius: 6px;
  background-color: #DEE8E4;
  width: 100px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  margin-top: 7px;
  filter:drop-shadow(2px 2px 2px  #555555)
}

/* Menu*/
.Menu nav{
  width: 70px;
  background-color: #4E5058;
  border-right: 1px solid #4E5058;
  position:absolute;
  height:100%; 
}

.Menu ul{
  list-style: none;
}

.Menu ul li :hover{
  color: black;
  background-color: white;
  border-radius: 20px 0px 0px 20px / 20px 0px 0px 20px;
}

.Menu ul li div{
  color: whitesmoke;
  line-height: 50px;
  height: 50px;
  display:block;
  background-color: #323232;
}

/* .Menu ul li a:visited{
  color: white;
} */

.dndflow {
  position: fixed;
  left: 307px;
  border: 1px soild black;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
  background-color: whitesmoke;
  width: 100%;
}

.dndflow aside {
  border-right: 1px solid wheat;
  padding: 15px 10px;
  font-size: 12px;
  background: wheat;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}
/* modal  */
.Modal{
  position: absolute;
  left: 9%;
  color: #4E5058;
  width: 250px;
  background-color: white;
  border-radius: 6px;
}
.Modal h4{
  border:none;
  border-bottom: 1px dotted gray;
}

.Modal ul{
  text-align: left
}
.Modal li{
  line-height: 24px;
}
.Modal button{
  background-color: #4E5058;
  color: white;
  border-radius: 8px;
}
.Modal .CloseButton{
  position: fixed;
  margin-left:180px;
  margin-bottom: 5px;
}
.Modal input{
  width: 40px;
}
.Modal .EditButton{
  margin-right: 187px;
  margin-bottom: 5px;
}

/* footer */

footer{
  width:307px;
  background-color: #4E5058;
  position:fixed;
  margin-top:550px;
  height: 100%;
  text-align: center;
  color: white;
}

