.LayerToggle{
  border: 1px solid black;;
  margin-left: 5px;
  width:200px;
  height:500px;
  padding-left: 5px;
}



.LayerToggle button{
  background-color: green;
}

.LayerToggle ul{
  list-style: none;
}

.ConvolutionLayers button{
  background-color: orange;
}

.PoolingLayers button{
  background-color: orange;
}